<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cubicle</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/images/logo.png"></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/create">Add a Cube</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </header>
    <main>
      <h1>{{cube.name}}</h1>
      <img class="cube" src="{{cube.imageUrl}}">
      <div class="details">
        {{#if edit}}
        <form action="/edit/{{cube.id}}" method="POST">
          <p> 
            <label for="name">Name:</label>
            <input name="name" value="{{cube.name}}">
          </p>
          <p>
            <label for="description">Description:</label>
            <input name="description" value="{{cube.description}}">
          </p>
          <p>
            <label for="difficultyLevel">Difficulty Level:</label>
            <input name="difficultyLevel" value="{{cube.difficultyLevel}}">
          </p>
          <p>
            <label for="imageUrl">Image URL:</label>
            <input name="imageUrl" value="{{cube.imageUrl}}">
          </p>
          <button type="submit">Submit changes</button>
        </form>
        {{else}}
          <p><span>Description:</span> {{cube.description}}</p>
          <p><span>Difficulty level:</span> {{cube.difficultyLevel}}</p>
        {{/if}}
           <a class="btn" href="/delete/{{cube.id}}">Delete Cube</a>
         {{#unless edit}}
           <a class="btn" href="/edit/{{cube.id}}">Edit Cube</a>
        {{/unless}}
        <a class="btn" href="/">Back</a>
      </div>
    </main>
  </div>
  <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>